<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Coming soon</title>
      <link rel="stylesheet" href="css/style.css">
	   <link media="screen" href="demo/styles/demo.css" type="text/css" rel="stylesheet" />
  <div style="font-style: italic; font-family: segoe script; position: absolute; width:500px; left:50%; margin-left: -250px; top: 100px; z-index: 9999; text-align: center">
<h1>Сайт на реконструкции</h1>

<!--<form action="Frolova_Zhenia_portfolio/templates/index.html" target="_blank">-->
  <a href="/"><button type="button" style="text-decoration: none; display: inline-block; width: 140px; height: 45px; line-height: 45px; border-radius: 45px; margin: 10px 20px; font-family: 'Montserrat', sans-serif;
  font-size: 11px; text-transform: uppercase; text-align: center; letter-spacing: 3px; font-weight: 600; color: #524f4e; background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1); transition: .3s;" class="floating-button">На главную</button></a>

<!--</form>-->

</div>
</head>

<body>

  <div id="world"></div>
  <script src='../static/js/three.js'></script>
  <script  src="../static/js/index.js"></script>
</body>
</html>
